<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova entrega foi cadastrada, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ address }} {{ number }} {{ complements }}<br />
  <strong>CEP: </strong> {{ cep }} - {{ state }} {{ city }}<br />
  <br />
  <small>
    O produto se encontra disponível para retirada.
  </small>
</p>
